& .transfer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    scroll-behavior: smooth;


    & .active{
        transform: translateX(0);
    }

    & .transfertForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.3rem;
        width: 92%;
        background-color: var(--whiteColor);
        border-radius: 1.5rem;
        box-shadow: 0 0 8px 1px rgba(83,109,254,0.5);
        padding: 2rem;
        margin: 1rem 0 2rem;

    }

    & .scan{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 90%;
        margin-bottom: 6rem;

        & .text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            width: 55%;

            & h4{
                font-size: 1.5rem;
                font-weight: bold;
                text-align: left;
            }

            & p{
                font-size: small;
                line-height: 1.5rem;
                text-align: left;

                & b{
                    color: var(--mainColor);
                }
            }
        }

        & .scanItem{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 40%;
            aspect-ratio: 4/3;
            background-color: var(--whiteColor);
            border-radius: 0.75rem;
            box-shadow: 0 0 4px 3px rgba(83,109,254,0.25);
            text-decoration: none;

            & figure{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60%;
                aspect-ratio: 4/4;
                background-color: var(--mainColor);
                border-radius: 0.75rem;

                & img{
                    width: 70%;
                    aspect-ratio: 4/4;
                }
            }

            & h5{
                color: var(--mainColor);
                font-size: small;
                text-align: center;
            }
        }
    }

}

