& .validate{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    background-color: var(--mainColor);
    border: none;
    letter-spacing: 0.5rem;
    font-size: small;
    font-weight: bold;
    transition: all 1s ease;

    & .button{
        text-decoration: none;
        color: var(--whiteColor);
    }

    &:hover{
        border: 1px solid var(--blackColor);
        border-radius: 1rem;
        cursor: pointer;
    }
}