& .validate{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--mainColor);
    border: none;
    letter-spacing: 0.4rem;
    font-size: x-small;
    font-weight: bold;
    transition: all 1s ease;

    & .button{
        text-decoration: none;
        color: var(--whiteColor);
        width: 100%;
        padding: 0.75rem;
    }

    &:hover{
        border: 1px solid var(--blackColor);
        border-radius: 1rem;
        cursor: pointer;
    }
}

/*RESPONSIVE DESIGN-----------------------------------------------------------------*/
@media (min-width: 1024px) {

    & .validate{
        font-size: large;

        & .button{
            padding: 1rem;
        }

        &:hover{
            border: 1px solid var(--secondaryColor);
        }
    }

}