& .credit{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--secondaryColor);
    scroll-behavior: smooth;

    & .active{
        transform: translateX(0);
    }

    & .borrowForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 90%;
        background-color: var(--whiteColor);
        border-radius: 1rem;
        box-shadow: 0 0 8px 1px rgba(83,109,254,0.5);
        padding: 1rem;
        margin: 1rem 0 6rem;

        & .offerType{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.2rem;
            width: 100%;

            & h2{
                align-self: flex-start;
                font-size: medium;
                text-align: left;
            }

            & .screen{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                overflow-x: auto;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                scroll-behavior: smooth;
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                & ul{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    width: max-content;
                    padding: 1rem 0;

                    & li{
                        flex-shrink: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;
                        width: 18rem;
                        background-color: var(--secondaryColor);
                        border-radius: 1.2rem;
                        padding: 1rem;
                        transition: all 1s ease;

                        & .number{
                            align-self: flex-start;
                            justify-self: flex-start;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 1.5rem;
                            aspect-ratio: 4/4;
                            background-color: var(--whiteColor);
                            border-radius: 50%;
                            font-size: small;
                            font-weight: bold;
                            text-align: center;
                        }

                        & h3{
                            align-self: flex-start;
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            color: var(--whiteColor);
                            font-size: small;
                            text-align: left;
                        }

                        & .details{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 1rem;
                            width: 100%;

                            & div{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                color: var(--whiteColor);
                                font-size: x-small;

                                & p{
                                    display: flex;
                                    align-items: center;
                                    gap: 0.5rem;
                                }
                            }
                        }

                        &:hover{
                            background-color: var(--mainColor);
                        }
                    }
                    & .active{
                        background-color: var(--mainColor);
                    }
                }

            }

            & .btn{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                height: 2rem;
                background-color: var(--mainColor);
                border-radius: 2rem;
                overflow: hidden;
                padding: 0 1.5rem;

                & button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50%;
                    aspect-ratio: 4/3;
                    background-color: transparent;
                    border: none;
                    transition: all 1s ease;

                    & img{
                        width: 13px;
                        height: 13px;
                    }

                    &:hover{
                        cursor: pointer;
                        scale: 1.2;
                    }
                }
                & .left{
                    transform: rotate(180deg);
                }

                & .paginator{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 70%;
                    background-color: var(--whiteColor);
                    border-radius: 2rem;
                    padding: 0 1rem;

                    & p{
                        display: flex;
                        align-items: center;
                        word-spacing: 0.5rem;
                        font-size: x-small;
                    }
                }

                &:hover{

                    & .paginator{
                        font-weight: bold;
                    }
                }
            }
        }
    }

}

/*RESPONSIVE DESIGN-----------------------------------------------------------------*/
@media (min-width: 1024px) {

    & .credit{

        & .borrowForm{
            width: 768px;
            padding: 1.7rem;

            & .offerType{

                & h2{
                    font-size: x-large;
                }

                & .screen{

                    & ul{
                        gap: 2rem;

                        & li{
                            gap: 1rem;
                            width: 24rem;

                            & .number{
                                width: 1.8rem;
                                font-size: large;
                            }

                            & h3{
                                font-size: x-large;
                            }

                            & .details{
                                gap: 1.5rem;

                                & div{
                                    font-size: large;
                                }
                            }
                        }
                    }

                }
            }
        }

    }

}

