& .maDeposit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100dvh;
    background: linear-gradient(180deg, #000000 6.18%, #536dfe 74.72%);

    & h1{
        color: var(--whiteColor);
        text-align: center;
    }

    & p{
        color: var(--whiteColor);
        font-size: x-large;
        text-align: center;
    }

    & .dep{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2rem;
        padding: 0 1rem;

        &  .put {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 4rem;
            border: transparent;
            border-radius: 0;

            & label{
                position: relative;
                left: 0;
                color: var(--whiteColor);
                background: transparent;
                font-size: large;
            }

            & .amount{
                width: 100%;
            }
        }

        & .cta{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: .5rem;
            width: 100%;
            height: 3.5rem;

            & .makeIt, & .back{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 2rem;
                font-size: large;
                padding: .5rem;
                text-decoration: none;
            }
            & .makeIt{
                background-color: var(--blackColor);
                border: none;
                color: var(--whiteColor);
                font-weight: bold;
                transition: all 0.5s ease;

                &:hover{
                    border: 1px solid var(--whiteColor);
                    cursor: pointer;
                }
            }
            & .back{
                background-color: transparent;
                border: 2px solid var(--whiteColor);
                color: var(--whiteColor);
                font-weight: bold;
                transition: all 1s ease;
            }
        }
    }
}