
& .homeLanding{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background: radial-gradient(53.8% 72.78% at 50% 50%, #002aff 0%, #000000 100%);
    overflow: hidden scroll;
    scroll-behavior: smooth;

    & .main{
        position: absolute;
        top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
        text-align: center;

        & h1{
            color: var(--whiteColor);
            font-size: 4rem;
            text-align: center;
        }

        & article{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            width: 100%;
            overflow: hidden;

            & .lineArticle{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
                width: 100%;
                list-style: none;
                overflow: scroll hidden;
                padding: 0 1rem;
                scroll-behavior: smooth;

                & li{
                    flex-shrink: 0;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    width: 90dvw;
                    height: 78dvh;
                    overflow: hidden;

                    & figure{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        border: 4px solid var(--mainColor);
                        border-radius: 2rem;
                        overflow: hidden;

                        & img{
                            height: 100%;
                            aspect-ratio: 9/16;
                            object-fit: cover;
                        }
                    }

                    & .info{
                        position: absolute;
                        bottom: -4rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;
                        width: 180%;
                        background-color: rgba(0, 0, 0, 0.8);
                        border-radius: 50%;
                        padding:  5rem 0;

                        & h2{
                            color: var(--mainColor);
                            font-size: x-large;
                            text-align: center;
                        }

                        & p{
                            width: 50%;
                            color: var(--whiteColor);
                            font-size: smaller;
                            text-align: center;
                        }

                        & .articleCta{
                            background-color: var(--mainColor);
                            border-radius: 4rem;
                            color: var(--whiteColor);
                            font-size: small;
                            padding: 1rem 2rem;
                            text-align: center;
                            text-decoration: none;
                            transition: all 1s ease;

                            &:hover{
                                border: 1px solid var(--whiteColor);
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            & .paginator{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                width: 100%;
                list-style: none;

                & li{
                    width: 2rem;
                    aspect-ratio: 4/4;
                    background-color: var(--whiteColor);
                    border: 1px solid var(--whiteColor);
                    border-radius: 50%;
                }
                & .active{
                    background-color: var(--mainColor);
                }
            }
        }

        & .about{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            width: 100%;
            color: var(--whiteColor);
            padding: 0 1rem;
            text-align: center;

            & h2{
                font-size: 2rem;
            }

            & p{
                font-size: large;
                line-height: 1.2rem;
            }

            & .aboutCta{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4rem;
                font-size: large;
                font-weight: bold;
                padding: 1rem 4rem;
                background-color: var(--mainColor);
                color: var(--whiteColor);
                text-align: center;
                text-decoration: none;
                transition: all 1s ease;

                &:hover{
                    border: 1px solid var(--whiteColor);
                }
            }
        }

        & .skill{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            width: 100%;
            color: var(--whiteColor);
            padding: 0 1rem;
            text-align: center;

            & h2{
                font-size: 2rem;
            }

            & ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2rem;
                width: 100%;
                background-color: var(--secondaryColor);
                border-radius: 2rem;
                list-style: none;
                padding: 2rem;

                & li{
                    display: flex;
                    align-items: flex-start;
                    gap: 1rem;
                    width: 100%;
                    font-size: xx-large;
                    text-align: left;

                    & img{
                        width: 4rem;
                        aspect-ratio: 4/4;
                    }

                    & .right{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.5rem;

                        & h3{
                            font-size: large;
                        }

                        & p{
                            font-size: small;
                        }
                    }
                }
            }

        }

        & .meetUs{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            width: 100%;
            color: var(--whiteColor);
            padding: 0 2rem;
            text-align: center;

            & h2{
                font-size: 2rem;
            }

            & h4{
                font-size: larger;
            }

            & .callZone{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                & a{
                    width: 18rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4rem;
                    font-size: x-large;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    padding: 1rem;
                }
                & .login{
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                    transition: all 1s ease;

                    &:hover{
                        border: 1px solid var(--whiteColor);
                    }
                }
                & .register1{
                    border: 2px solid var(--mainColor);
                    color: var(--mainColor);
                    transition: all 1s ease;

                    &:hover{
                        background-color: var(--mainColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }

        & footer{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 8rem;
            color: var(--whiteColor);
            font-weight: lighter;
            font-size: large;
            word-spacing: 0.5rem;
        }
    }

}

/*RESPONSIVE MANAGEMENT(Large Screen Version)----------------------------------*/

@media(min-width: 1024px) {
    & .homeLanding{
        & header{
            padding: 0 16rem;

            & .linkPage{

                & img{
                    height: 80%;
                }
            }

            & .authCta{
                gap: 8rem;

                & a{
                    padding: 1rem 4rem;
                }
            }
        }

        & .main{

            & article{
                flex-direction: row;
                justify-content: center;

                & .lineArticle{
                    flex-direction: column;
                    width: 40%;
                    height: 100dvh;
                    overflow: hidden scroll ;
                    padding: 0 4rem;
                    scroll-behavior: smooth;

                    & li{
                        width: 100%;
                    }
                }

                & .paginator{
                    flex-direction: column;
                    width: 8%;
                }
            }

            & .about{
                gap: 4rem;
                padding: 0 24rem;
            }

            & .skill{

                & ul{
                    flex-direction: row;
                    gap: 2rem;

                    & li{

                        & img{
                            width: 8rem;
                        }
                    }
                }

            }
        }

    }
}