
& .successPage{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
    scroll-behavior: smooth;
    overflow: hidden;

    & .mainFrame{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        height: 100dvh;
        background: linear-gradient(180deg, rgba(0,0,0,0.62) 0%, #536dfe 38.2%);
        padding: 1rem;
        z-index: 200;

        & .message{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            aspect-ratio: 4/4;
            background-color: var(--whiteColor);
            border-radius: 50%;
            color: forestgreen;
            font-size: 2rem;
            font-weight: bold;
            line-height: 4rem;
            text-align: center;
            padding: 1rem;
        }

        & .cta{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            background-color: var(--blackColor);
            border-radius: 1rem;
            color: var(--whiteColor);
            font-size: large;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            padding: 1.5rem;
        }

        & .notice{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .5rem;
            width: 100%;
            color: var(--whiteColor);
            font-size: large;
            text-align: left;

            & img{
                width: 4rem;
                aspect-ratio: 4/4;
                object-fit: cover;
            }
        }
    }

}

/*RESPONSIVE MANAGEMENT(Large Screen Version)----------------------------------*/

@media(min-width: 1024px) {

    & .successPage{

        & .mainFrame{

            & .message{
                width: 30%;
            }

            & .cta{
                width: 40rem;
            }
        }
    }

}
