& .deposit{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
    scroll-behavior: smooth;

    & .active{
        transform: translateX(0);
    }


    & form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 90%;
        background-color: var(--whiteColor);
        border-radius: 1rem;
        box-shadow: 0 0 8px 1px rgba(83,109,254,0.5);
        padding: 1.5rem;
        margin: 1rem;



        & .put, .details{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: var(--whiteColor);
            border: 1px solid var(--mainColor);
            border-radius: 0.75rem;
            overflow: hidden;

            & label{
                position: absolute;
                top: 1rem;
                left: 1rem;
                color: var(--smallBlack);
                font-size: x-small;
                transform: translateY(-50%);
                background: inherit;
            }
        }
        & .put{
            height: 4.5rem;

            & input{
                width: 100%;
                height: 100%;
                border: none;
                font-size: medium;
                outline: none;
                padding: 1rem 1rem;
            }
        }
        & .details{
            min-height: 5rem;

            & textarea{
                width: 100%;
                height: 100%;
                border: none;
                font-size: small;
                outline: none;
                padding: 2rem 1rem;
            }
        }

    }

}
